/* src/index.css */
@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap");

.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.button-style {
  @apply border-green-300 hover:border-2  p-5 rounded-full  text-xl  font-bold border-2 transition-colors duration-300;
}
